<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite" parallel="tests" thread-count="5"
	group-by-instances="true">

<!-- 	<listeners>
		<listener
			class-name="com.backbase.utilities.TestNGListenerAdapter" />
	</listeners>
 -->
	<parameter name="env" value="qa" />
	<parameter name="browser" value="chrome" />
	<parameter name="headless" value="No" />
	<!-- <parameter name="hub" value="http://192.168.0.106:4444/wd/hub/"/> -->

	<test name="ArticlesSmokeTest">
		<classes>
			<class name="com.backbase.ui.tests.ArticlesSmokeTest" />
		</classes>
	</test>
	<test name="CommentsSmokeTest">
		<classes>
			<class name="com.backbase.ui.tests.CommentsSmokeTest" />
		</classes>
	</test>
</suite>